*{
    padding: 0%;
    margin:0%
}
.div1{
    width: 1920px;
    height: 1080px;
    animation:bzt 20s ease-in-out  infinite alternate;
}
.nav{
    width: 1920px;
    height: 100px;
    background: rgba(0, 0, 0, .8);
    text-align: center;
    background-image: url(./img/mihoyo.png);
    background-repeat: no-repeat;
    background-position: 1000px;
}
.div1 img{
    width: 200px;
    height: 100px;
    float: left;
   padding-left: 90PX;
   
}
.nav a{
    display: inline-block;
    padding: 25px 20px 20px ;
    line-height: 50px;
    text-decoration: none;
    color: grey;
}

a:hover{
    background-color: yellow ;opacity: 0.6;
    text-decoration: underline;
    color:skyblue;

}

#xiazai{
   margin-left: 900px;
}

@keyframes bzt{
    0%{
        background-image: url(./img/首页帧动画图压缩1.jpg);
    }
    20%{
        background-image: url(./img/超级压缩图114514.jpg);
    }
    40%{
        background-image: url(./img/首页帧动画2压缩版.jpg);
    }
    60%{
        background-image: url(./img/首页帧动画2.png);
    }
    80%{
        background-image: url(./img/刚好图.png);
    }
    100%{
        background-image: url(./img/首页帧动画图压缩4.jpg)
}
}