*{
    padding: 0%;
    margin:0%
}

.div1{
    width: 1920px;
    height: 1080px;
    
    background-image: url(./img/R-C.jfif);
    text-align: center;
}
.sj{
    width: 1920px;
    height: 900px;
}
ul li{
    display: inline-block;
    width: 400px;
    height: 800px;
    background-color: rgba(0, 0, 0, .8);
    margin: 20px;
    color:skyblue;
    
    
}
ul li span{   
    font-family: "楷体";
    line-height: 2;
    color: white;
    
}
p{
    line-height: 5;
   
}


li img:hover{
    transition: all 1s ease 0s;
    transform: scale(1.2);
    border-radius: 40px;
}

.nav{
    width: 1920px;
    height: 100px;
    background: rgba(0, 0, 0, .8);
    text-align: center;
    background-image: url(./img/mihoyo.png);
    background-repeat: no-repeat;
    background-position: 1000px;
}
.nav img{
    width: 200px;
    height: 100px;
    float: left;
   padding-left: 90PX;
   
}
.nav a{
    display: inline-block;
    padding: 25px 20px 20px ;
    line-height: 50px;
    text-decoration: none;
    color: grey;
}

a:hover{
    background-color: yellow ;opacity: 0.6;
    text-decoration: underline;
    color:skyblue;

}

#xiazai{
   margin-left: 900px;
}