*{
    padding: 0%;
    margin:0%
}
.div1{
    width: 1920px;
    height: 1080px;
    background-image: url(./img/背景.jfif);
    text-align: center;
    color: red;
}
.nav{
    width: 1920px;
    height: 100px;
    background: rgba(0, 0, 0, .8);
    text-align: center;
    background-image: url(./img/mihoyo.png);
    background-repeat: no-repeat;
    background-position: 1000px;
}
.nav img{
    width: 200px;
    height: 100px;
float: left;
padding-left: 90px;
   
}
.nav a{
    display: inline-block;
    padding: 25px 20px 20px ;
    line-height: 50px;
    text-decoration: none;
    color: grey;
}

a:hover{
    background-color: yellow ;opacity: 0.6;
    text-decoration: underline;
    color:skyblue;

}

#xiazai{
   margin-left: 900px;
}
.lyx img{
width: 150px;
height: 150px;
border-radius: 50%;
margin-top: 20px;

}
.lyx img:hover{
    transition: all 200s ease-in-out 0s; 
    transform: rotate(9999999deg);
}


.js p{
    color:yellow;
    text-align: left;
    font-size: 20px;
    font-family: "宋体";
    margin-top: 20px ;
    text-indent: 4em;
    line-height: 1.5;
}
.js a{
    color: red;
}



