*{
    padding: 0%;
    margin:0%
}
.div1{
    width: 1920px;
    height: 1080px;
    
    background-image: url(./img/角色背景版\ .png);
text-align: center;
}

ul li {
   
    font-size: 20px;
    float:left;
    list-style: none;
    font-family: "宋体";
    
   
}
.li1:hover{
    transition: all 1s ease 0s;
    transform: scale(1.2);
    
    
}
.nav{
    width: 1920px;
    height: 100px;
    background: rgba(0, 0, 0, .8);
    text-align: center;
    background-image: url(./img/mihoyo.png);
    background-repeat: no-repeat;
    background-position: 1000px;
}
.nav img{
    width: 200px;
    height: 100px;
    float: left;
   padding-left: 90PX;
   
}
.nav a{
    display: inline-block;
    padding: 25px 20px 20px ;
    line-height: 50px;
    text-decoration: none;
    color: grey;
}

a:hover{
    background-color: yellow ;opacity: 0.6;
    text-decoration: underline;
    color:skyblue;

}

#xiazai{
   margin-left: 900px;
}
